<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashSocketAppender">
        <remoteHost>ip-172-31-5-217.eu-west-1.compute.internal</remoteHost>
    </appender>

    <root level="debug">
        <appender-ref ref="logstash"/>
    </root>
</configuration>