<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <remoteHost>ip-172-31-5-217.eu-west-1.compute.internal</remoteHost>
        <port>4560</port>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="debug">
        <appender-ref ref="logstash"/>
    </root>
</configuration>